.form-group {
    margin-right:10px;
    /* background-color: blue; */
    margin-left: 115%;
    margin-top:10px;
    /* size:10cm; */
    width: 200px;
    /* padding:0 !important;
    overflow-x:hidden !important */
  }
 
